@import "../../styles/mixins";

.audiences {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-around;
  gap: 12px;
  padding: 4px 0;
  width: 100%;
}

.noDataWrapper {
  @include flex-column-center();
  justify-content: center;
  margin: 0 auto;

  img {
    width: 150px;
  }
}
