@import "../../styles/mixins";

.audiences {
  @include flex-stretch();
  gap: 48px;
  padding: 4px 0;
  width: 100%;
  justify-content: center;

}

.noDataWrapper {
  @include flex-column-center();
  justify-content: center;
  margin: 0 auto;

  img {
    width: 150px;
  }
}
