@import "../../styles/mixins";

.form {
  @include flex-column-center();
  background-color: #fff;
  width: 70%;
  max-height: 90%;
  padding: 24px;
  margin: 0 auto;
  gap: 16px;
  border-radius: 5px;

  .title {
    font-size: 30px;
  }

  .button {
    padding: 8px 12px;
    background-color: #fb2f17;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
  }

  .error {
    color: palevioletred;
  }
}
