@import "../../styles/mixins";

.form {
  @include flex-column-center();
  background-color: #fff;
  width: 90%;
  max-height: 100%;
  padding: 24px;
  margin: 0 auto;
  gap: 16px;
  border-radius: 5px;

  @include mobile() {
    width: 100%;
  }

  .title {
    font-size: 30px;
    text-align: center;
  }

  .error {
    color: palevioletred;
    text-align: center;
  }
}
