@import "../../styles/mixins";

.audience_wrapper {
  @include flex-column-center();
  background-color: #fff;
  padding: 24px;
  width: 560px;
  max-height: 400px;
  border-radius: 5px;
  gap: 24px;

  @include mobile() {
    max-width: 320px;
    max-height: 550px;
  }

  .audience {
    @include flex-column-start();
    width: 100%;
    gap: 16px;

    .audience_details {
      @include flex-column-start();
      flex-direction: row;
      gap: 12px;
      width: 100%;
      display: block;
      word-wrap: break-word;

      .detail_header {
        font-weight: 600;
      }

      .text {
        padding: 0;
        margin: 0;
        display: block;
        word-wrap: break-word;

        p {
          margin: 0;
        }
      }
    }
  }

  .button {
    align-self: flex-end;
  }
}
