@import "../../styles/mixins";

.nav {
  @include flex-column-start();
  gap: 24px;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  padding: 24px;

  @include mobile() {
    flex-direction: row;
  }

  .icon {
    font-size: 2rem;
  }
}
